.flex-container{
display: flex;
gap:1.5rem;
margin-bottom: 4rem;
margin-top: 4rem;
flex-wrap: wrap;




}


.setbutton{
     
    background-color: white;
    border-color: #75A5FF; 
    color:#75A5FF;
    border-radius: 5rem;
    min-width: 10rem;
    min-height: 4rem;
    margin-top: 0rem;
    margin-left: 1rem;

}       
.setbutton1{
    background-color: white;
    border-color: #75A5FF;
        color: #75A5FF;
        border-radius: 5rem;
        width: 10rem;
        height: 3rem;
}       
 .table{
    text-align: center;
    
} 
.page{
    justify-content: center ;
    margin:4rem;
    margin-top: 4rem;
    margin-bottom: 4rem;
}
@media only screen and (max-width: 500px) {
    /* .setbutton{
         margin-top: -8rem; 
         float:right;
          margin-right:66em; 
         background-color: white;
        border-color: #75A5FF;
    } */
       .noWrap{
        white-space: nowrap;
    }
}