.headingDiv {
  display: flex;
  gap: 2rem;
  margin-top: 3rem;
  margin-bottom: 3rem;
}

.createUserButton {
  color: #75a5ff;
  border: 1px solid #75a5ff;
  background-color: white;
  border-radius: 5rem;
  font-weight: 700;
  padding-left: 10px;
  padding-right: 10px;
}

.createUserButton:hover {
  background-color: #75a5ff;
  color: white;
}

.userTable {
  white-space: nowrap;
  text-align: center;
}

.pagination {
  justify-content: center;
  margin-top: 3rem;
  margin-bottom: 3rem;
}
