.propertyDiv {
    display: flex;
    justify-content: space-between;
    width: 90%;
    margin: auto;
    margin-top: 3rem;
    margin-bottom: 2rem;
    row-gap: 2rem;
  }
  
  .propertyImage {
    width: 34rem;
  }
  
  .imageOverlay {
    margin-top: 15rem;
  }
  
  
  @media only screen and (max-width: 500px) {
      .propertyDiv {
          display: flex;
          flex-direction: column;
          margin: auto;
          gap: 1rem;
        }
      
        .propertyImage {
          width: 20rem;
        }
  
        .imageOverlay {
          margin-top: 7rem;
        }
  }